/*-----------------------------------Обнуление----------------------------------------------------*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea {font-family: inherit;}
input::-ms-clear{display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6 {font-size: inherit;font-weight: 400;}
/*----------------------------------Конец обнуления-----------------------------------------------*/
body{
    font-family: Roboto;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
/*-----------------------------------header---------------------------------*/
.header {
    
}
.header a{
    color: #212121;
}
.header a:hover{
    color: #2196F3;
}
.header__row{
    display: flex;
    align-content: center;
}
.container {
    width: 1200px;
    padding: 0 15px 0 15px;
    margin: 0 auto;
}
.header__logo {
    margin-right: 93px;
    padding: 24px 0px 25px 0px;
}
.logo{
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}
.logo span{
    color: #2196F3;
}
.header__menu {
    margin-right: 331px;
    padding: 32px 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}
.header__list {
    display: flex;
}
.header__list li:not(:last-child){
    margin-right: 50px;
}
.header__contact {
    padding: 32px 0px;
    display: flex;
}

.header__contact li:first-child{
    margin-right: 50px;
}
/*-----------------------------------main---------------------------------*/
.main{
    flex: 1 0 auto;
}
.main__screen {
    background-color:#2F303A;
    height: 600px;
}
.screen__row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.main__label{
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 695px;
    margin-bottom: 30px;
}
.screen__button {
    display: inline-block;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background: #2196F3;
    padding: 10px 32px;
    /* margin: 0 480px; */
}
.screen__button a{
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    letter-spacing: 0.06em;
}
.screen__button:hover{
    background-color: #188CE8;
}
/*-----------------------------------main_row-----------------------------*/

.main__rows {
    padding: 94px 0;
    margin: 0px -15px;
}
.main__row {
    display: flex;
}
.main__row div:not(:last-child){
    margin-right: 30px;
}
.main__item {
    flex: 0 0 calc((1200px - 90px)/4);
    max-width: 270px;
    letter-spacing: 0.03em;
}
.main__title {
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #212121;
    font-weight: bold;
    margin-bottom: 10px;
}
.main__text {
    font-size: 14px;
    line-height: 24px;
    color: #757575;
}
/*-----------------------------------row-images---------------------------*/

.rows__images {
}
.rows__title {
    margin-bottom: 50px;
}
.title{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.rows__row {
    display: flex;
    margin-bottom: 94px;
}
.rows__item {
    flex: 0 0 calc((1200px - 90px)/3);
    width: 100%;
    height: 100%;
}
.rows__item img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.rows__row div:not(:last-child){
    margin-right: 30px;
}

/*-----------------------------------footer-------------------------------*/
.footer{
    background-color: #2F303A;
    height: 250px;
}
.footer__logo{
    padding: 60px 0px 20px 0;
    color: #FFFFFF;
}
.address{
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.address a{
    display: inline-block;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 5px;
}
.address a:hover{
    color: #2196F3;
}


